modules = ["nodejs-20", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"
packages = ["psmisc"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33303
externalPort = 3002

[[ports]]
localPort = 41451
externalPort = 4200

[[ports]]
localPort = 42121
externalPort = 6000

[[ports]]
localPort = 42555
externalPort = 3003

[[ports]]
localPort = 43057
externalPort = 9000

[[ports]]
localPort = 43163
externalPort = 8000

[[ports]]
localPort = 43555
externalPort = 3000

[[ports]]
localPort = 45125
externalPort = 8080

[[ports]]
localPort = 45271
externalPort = 3001

[[ports]]
localPort = 45525
externalPort = 5173

[[ports]]
localPort = 46419
externalPort = 5000

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
expertMode = true
integrations = ["resend:1.0.0", "google-sheet:1.0.0"]

[userenv]

[userenv.shared]
NEON_DATABASE_URL = "postgresql://neondb_owner:npg_A4xHkEF8XJOU@ep-proud-art-a61a8bdj.us-west-2.aws.neon.tech/neondb?sslmode=require"
NEON_PGHOST = "ep-proud-art-a61a8bdj.us-west-2.aws.neon.tech"
NEON_PGPASSWORD = "npg_A4xHkEF8XJOU"
NEON_PGDATABASE = "neondb"
NEON_PGUSER = "neondb_owner"
NEON_PGPORT = "5432"
PHONEPE_CLIENT_ID = "SU2512081840541100588125"
PHONEPE_CLIENT_SECRET = "69816a38-67b3-47d9-9e5e-291eae89dccd"
PHONEPE_ENVIRONMENT = "PRODUCTION"
DEPLOYMENT_URL = "https://kef-e3hu.onrender.com"
